

* {
 
  background-image: url("/media/fondoProductos.svg");
  padding: 0;
  margin: 0;
 /* font-family: "Istok Web", sans-serif; */
 
}

header{
  background-color:beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color:darkmagenta;
  font-size: 2em;

  font-family: 'Pacifico', cursive;
}


header .container{
  display: flex;
  flex-direction:row;
  align-items: center;
}

header nav{
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color:darksalmon;
  text-align: right;
  display: grid;
}

header a:hover{
  color:blueviolet;
}


body {
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4cfeb;
  background-image: url("/media/fondoProductos.svg");
  text-align: center;
 
}


.card {
  position: relative;
  width: 350px;
  height: 550px;
  background:#eca8d0;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  float: left;
  border:cornflowerblue 5px solid;
  

}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  transform: skewY(345deg);
  transition: 0.5s;

}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "BELLAAMORE";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}

footer{
  
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 85%;
  margin: 0 auto;
}
